<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0" />

    <!-- Bootstrap 5 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&display=swap"
      rel="stylesheet"
    />

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/assets/logo.svg" alt="msb-srt-logo" />
    <link rel="apple-touch-Icons" href="/assets/logo.svg" alt="msb-a-bg-logo" />

    <title>InvestoPay - Let's get started</title>
    <meta
      name="description"
      content="Making investing in comodities easy, simple and part of daily transactions"
    />
  </head>

  <body>
    <div class="container gx-0 gx-lg-4">
      <div class="row gx-0 gx-lg-4">
        <!-- This div is hidden in mobile and visible in desktop-->
        <div class="col-12 col-lg-6 d-none d-lg-block">
          <div class="desktop-text my-5 px-5">
            <div class="brand mb-4">
              <div class="d-flex align-items-center">
                <img
                  src="/assets/logo.svg"
                  alt="InvestoPay Logo"
                  class="brand-img"
                />
                <span class="ms-3 text-light mt-2"><h5>investoPay</h5></span>
              </div>
            </div>
            <div class="main-text text-light">
              <p>Hi 🖖</p>
              <p>
                This is a simulation of an investment app we designed called investoPay
              </p>
              <p>
                The goal of investoPay is to make investment easy and part of
                daily life. We help users invest without putting in the work and
                reap the benefits of the market.
              </p>
              <p>
                We believe that Razorpay solved many of the problems that
                investoPay would have faced as a fintech.
                Though we used both Razorpay API to 
                test out our hypothesis and improved the User Experience we no long have access to their test playground.
              </p>

              <p class="form-text">
                **If want to meet the creators of this amazing application, drop me an email at nikhilweb19@gmail.com
              </p>
            </div>
          </div>
        </div>
        <!-- This div is visible on both mobile and desktop and takes full screen in desktop -->
        <div class="col-12 col-lg-6">
          <!-- This is parent div for phone mockup and main app to position them properly -->
          <div class="outer">
            <!-- This is the phone mockup only visible in desktop -->
            <div class="phone-mockup d-none d-md-block">
              <img class="w-100" src="/assets/iphone12.png" alt="" />
            </div>

            <!-- this is the main app  -->
            <div class="main-app">
              <!-- App Navbar -->
              <div class="navbar custom-navbar py-4">
                <div class="container gx-3">
                  <div class="navbar-brand d-flex align-items-center">
                    <img
                      src="/assets/logo.svg"
                      alt="InvestoPay Logo"
                      class="brand-img"
                    />
                    <span class="ms-3">investoPay</span>
                  </div>

                  <button
                    class="navbar-toggler d-flex align-items-center"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#mainNavbar"
                    aria-controls="mainNavbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"
                      ><i class="bi bi-list"></i
                    ></span>
                  </button>

                  <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav my-4">
                      <!-- To add nav link copy the below li tag and change the nav-link a tag -->
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard/<%= user._id %>"
                          >Home</a
                        >
                      </li>
                      <hr />
                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          aria-current="page"
                          href="/transfer-fund/<%= user._id %>"
                          >Add money to wallet</a
                        >
                      </li>
                      <hr />
                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          aria-current="page"
                          href="/passbook/<%= user._id %>"
                          >Passbook</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Main App Body -->
              <div class="main-body py-5">
                <!-- We have to add gx to add padding from the side gx stands for gutter -->
                <div class="container gx-3">
                  <div class="btns text-center">
                    <b>Hello, <%= user.name %></b> <br /><br />
                    <div
                      class="toggle-btn d-inline-flex mx-auto"
                      id="toggleBtn1"
                    >
                      <a class="custom-btn active" onclick="Page1()" href="#"
                        >Payments</a
                      >
                      <a class="custom-btn" onclick="Page2()" href="#"
                        >Investments</a
                      >
                    </div>
                  </div>

                  <div class="pages mt-4">
                    <div class="sheet sheet-1" id="sheet1">
                      <h4 class="payments-head text-center my-4">
                        Track Daily Market
                      </h4>
                      <!-- TradingView Widget BEGIN -->
                      <div class="tradingview-widget-container">
                        <div id="tradingview_97083"></div>
                        <script
                          type="text/javascript"
                          src="https://s3.tradingview.com/tv.js"
                        ></script>
                        <script type="text/javascript">
                          new TradingView.widget({
                            width: 400,
                            height: 500,
                            symbol: "FRED:SP500",
                            interval: "W",
                            timezone: "Etc/UTC",
                            theme: "light",
                            style: "2",
                            locale: "en",
                            toolbar_bg: "#f1f3f6",
                            enable_publishing: false,
                            hide_top_toolbar: true,
                            hide_legend: true,
                            save_image: false,
                            container_id: "tradingview_97083",
                          });
                        </script>
                      </div>

                      <!-- TradingView Widget END -->
                    </div>
                    <div class="sheet sheet-2 d-none" id="sheet2">
                      <!-- Add Investments Section Here -->

                      <h3 class="text-center my-4">
                        <span><i class="bi bi-currency-dollar"></i></span>Your
                        Investments
                      </h3>
                      <!-- TradingView Widget BEGIN -->
                      <div class="tradingview-widget-container mx-auto">
                        <div class="tradingview-widget-container__widget"></div>
                        <div class="tradingview-widget-copyright">
                          <a
                            href="https://www.tradingview.com/markets/indices/"
                            rel="noopener"
                            target="_blank"
                            ><span class="blue-text">Indices</span></a
                          >
                          by TradingView
                        </div>
                        <script
                          type="text/javascript"
                          src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js"
                          async
                        >
                            {
                            "colorTheme": "light",
                            "dateRange": "12M",
                            "showChart": true,
                            "locale": "en",
                            "largeChartUrl": "",
                            "isTransparent": false,
                            "showSymbolLogo": true,
                            "showFloatingTooltip": false,
                            "width": "400",
                            "height": "500",
                            "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
                            "plotLineColorFalling": "rgba(41, 98, 255, 1)",
                            "gridLineColor": "rgba(42, 46, 57, 0)",
                            "scaleFontColor": "rgba(120, 123, 134, 1)",
                            "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
                            "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
                            "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
                            "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
                            "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
                            "tabs": [
                              {
                                "title": "Indices",
                                "symbols": [
                                  {
                                    "s": "FOREXCOM:SPXUSD",
                                    "d": "S&P 500"
                                  },
                                  {
                                    "s": "FRED:NASDAQ100",
                                    "d": "Nasdaq"
                                  },
                                  {
                                    "s": "BSE:SENSEX",
                                    "d": "sensex"
                                  }
                                ],
                                "originalTitle": "Indices"
                              }
                            ]
                          }
                        </script>
                      </div>
                      <!-- TradingView Widget END -->
                    </div>
                  </div>
                </div>
              </div>

              <div class="pay-btn">
                <button
                  class="btn btn-dark"
                  onclick="window.location.href='/pay/<%= user._id %>'"
                >
                  <i class="bi bi-plus-lg me-1"></i> New Payment
                </button>
              </div>
            </div>
          </div>
        </div>
>>>>>>> without-zeta
      </div>
    </div>
    

    <style>
      .tradingview-widget-container__widget {
        z-index: -1;
      }
      .toggle-btn {
        background-color: #e5e5e5;
        border-radius: 25rem;
        padding: 0.4rem;
      }

      .custom-btn {
        border-radius: 25rem;
        color: #808080;
        text-decoration: none;
        padding: 0.75rem 1.5rem;
      }

      .custom-btn:hover {
        color: #000000;
      }

      .custom-btn.active {
        background-color: #ffffff;
        color: #000000;
      }

      .pay-btn {
        position: fixed;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }

      .pay-btn button {
        padding: 1.4rem 1.8rem;
        border-radius: 25rem;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        background-color: #000000;
        font-size: 1.2rem;
      }
      .main-card {
        position: relative;
        margin-top: 4rem;
        border-width: 5px;
        border-radius: 5px;
        display: block;
        margin-left: -1rem;
        padding: 1rem;
      }
      .investments {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
      .stocks,
      .stock-nos {
        font-weight: 700;
      }

      @media only screen and (min-width: 991px) {
        .pay-btn {
          position: absolute;
        }
      }
    </style>

    <script>
      console.log(document.querySelectorAll(".pages .sheet"));

      function Page1() {
        document.querySelectorAll(".custom-btn")[1].classList.remove("active");
        document.querySelectorAll(".custom-btn")[0].classList.add("active");
        document
          .querySelectorAll(".pages .sheet")[0]
          .classList.remove("d-none");
        document.querySelectorAll(".pages .sheet")[1].classList.add("d-none");
      }

      function Page2() {
        document.querySelectorAll(".custom-btn")[1].classList.add("active");
        document.querySelectorAll(".custom-btn")[0].classList.remove("active");
        document.querySelectorAll(".pages .sheet")[0].classList.add("d-none");
        document
          .querySelectorAll(".pages .sheet")[1]
          .classList.remove("d-none");
      }
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
